{% extends "noticiario/fluid.html" %}
{% load bootstrap_toolkit %}

{% block conteudo %}
<h1>Cadastro de contato</h1>

<form method="post" action=".">
{% csrf_token %}

{{form_contato|as_bootstrap}}

<div id="forms_fones">
	{{ forms_fones.management_form }}
	{% for form_fone in forms_fones %}
		<div class="form_fone">
			{{form_fone|as_bootstrap}}
		</div>
	{% endfor %}
</div>
	<div class="actions">
		<button id="ad-fone" type="button" class="btn">Adicionar fone</button>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>

{% endblock conteudo %}

{% block js-rodape %}
<script>
$(document).ready(function(){
	$("#ad-fone").click(
		function(event){
	        var form_fone = $(".form_fone:first").clone();
	        form_fone.filter("#id_form-0-ddd").attr("id","xxxx");
	        form_fone.appendTo("#forms_fones");
	});
});
</script>
{% endblock js-rodape %}

