{% extends "noticiario/fluid.html" %}
{% load bootstrap_toolkit %}

{% block conteudo %}
<h1>Fale conosco</h1>

<form method="post" action=".">
{% csrf_token %}

{{form|as_bootstrap	}}

    <div class="actions">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock conteudo %}
