{% extends "noticiario/fluid.html" %}
{% load bootstrap_toolkit %}

{% block conteudo %}
<h1>Contatos</h1>

<table class="table table-bordered">
	{% for contato in contatos %}
		<tr>
			<th>{{contato.nome}}</th>
			<td>
				{% for fone in contato.fone_set.all %}
				{{fone}},
				{% endfor %}
			</td>
			<td><a href="/ct/editar/{{contato.pk}}">Editar</a></td>
		</tr>
	{% endfor %}
</table>


{% endblock conteudo %}
