{% extends "noticiario/fluid.html" %}
{% load bootstrap_toolkit %}

{% block conteudo %}
<h1>Contribuir notícia</h1>

<p>Envie sua notícia para nossos editores publicarem após avaliação.</p>

<form method="post" action=".">
{% csrf_token %}

{{form|as_bootstrap}}

    <div class="actions">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

{% endblock conteudo %}
